@import "tailwindcss";

@theme {
  --color-bg: #0a0a0f;
  --color-surface: #1a1a24;
  --color-surface2: #2a2a3a;
  --color-border: #3a3a4a;
  --color-text: #e4e4e7;
  --color-muted: #a1a1aa;
  --color-accent: #8b5cf6;
  --color-accent2: #ec4899;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}